/* reset */
* {
    padding:0;
    margin: 0;
}

body {
background: rgb(78,58,66);
background: linear-gradient(90deg, rgba(78,58,66,1) 0%, rgba(52,34,40,1) 100%);
}
p {
    margin-top:20px;    
}
a {
    color:#000;
}
/* layout */

#header {
    background: #F8F8F8;
    height: 64px;
}

#header {
    font-family: sans-serif;
    padding: 25px 25px 0 25px;
}
#header h1 {
    display: inline-block;
    vertical-align: middle;
    font-size:28px;
    font-family: 'Ubuntu', sans-serif;
    width:500px;
}

#header h2 {
    display: inline-block;
    font-weight: normal;
    font-size: 16px ;
}

#footer {
    text-align: center;

    background: #F8F8F8;
    height: 64px;
    margin-top: 20px;
}
#footer p {
    padding-top:10px;
    
}
#footer ul#social_media li {
    display: inline;

}

#wrapper {
width: 970px;
margin: 0 auto;
}

/* content */
.photo {
    width: 409px;
    border: 5px solid #c0c0c0;
    display:inline-block;
    margin-top: 20px;
}

#about {
    width:522px;
    margin-left:25px;
    margin-top:25px;
}
#contact a {

    font-style: normal;
    text-decoration: none   ;
}

ul#projects {
    margin-top:20px;    
  
}

ul#projects li {
   margin: 0 0 0 25px;
    
}

ul#projects li:last-of-type {
    margin-right: 0;
     
 }
 ul#projects li:first-of-type{
    margin-left: 0;
     
 }
 

 ul#projects .project.box {
     height: 700px;
    overflow: hidden;
 }

 .project.box >.content {

height:400px;
 }
ul#projects .box {
    width:304px;

}
ul#projects .box .content img { 
max-width: 290px;
overflow: hidden;
}

ul#social_media {
    margin-top:10px;
}
ul#social_media  li a {

    font-style: italic;
}
.box {
    display: inline-block;
    vertical-align: top;
    
}

.box .title {
    padding: 10px;
    color:#FFF;
    background: linear-gradient(180deg, #8E8D99 0%, #A09FA7 100%);

}
.box .content {
padding: 10px;
background: linear-gradient(90deg, #FFFFFF 50%, #DBCCDA 179.21%);
min-height:212px;

}


.icon {

    display: inline-block; 
    width:20px;
    height: 20px;

}

.icon.github {

    background: url('images/icons/github.png');
    background-size: cover;
    vertical-align: middle;
    
}
.icon.twitter {
    background: url('images/icons/twitter.png');
    background-size: cover;
    vertical-align: middle;
}


.icon.linkedin {
    background: url('images/icons/linkedin.png');
    background-size: cover;
    vertical-align: middle;
}
.icon.codepen {
    background: url('images/icons/codepen.png');
    background-size: cover;
    vertical-align: middle;
}

.box.technologies .content {
    min-height: 100%;
    background-color: pink;
}
.box.technologies .content img {
    max-width: 30px;
    max-height: 30px;
    margin: 10px 10px;
}

.box.technologies .content a.info {
    display: block;
    width:200px;
    margin: 0 auto;
    background:#407D61;
    color:white;
    text-decoration: none;
    text-align: center;
    padding: 15px 0;
    border-radius: 20px;
    font-style: bold;
    box-shadow: 2px 2px 1px #000;
}
